{% extends "auditorias/manager_auditoriasBasis.tmpl" %}
    {% block main %}
        <div class="createElementDiv">
            <form name="addAuditoriasForm" class="createElementForm">
				<h3>Заполните форму для новой аудитории</h3>
                <table class="createElementTable">
					<p class="clearfix"></p>
					<tr><td><input type="reset" name="reset"></input></td><td><input type="submit" name="addAuditoriasFormGo" value="Добавить аудиторию"></input></td></tr>		
					<tr><td>Название аудитории</td><td class="createInput" ><input type="text" name="title" ></input></td></tr>		
					<tr><td>адрес</td><td class="createInput" ><input type="text" name="adress" ></input></td></tr>		
					<tr><td>Описание</td><td class="createInput" ><textarea name="description" cols="50" rows="8"></textarea></td></tr>	
                </table>
            </form>
		</div>	
    {% endblock %}	
    {% block javascript %}
        <script src="public/js/elementCreateValidate.js"></script>		
        <script src="public/js/auditorias/auditoriasCreate.js"></script>		
    {% endblock %}	
