{% extends "auditorias/manager_auditoriasBasis.tmpl" %}
	{% block main %}
        <aside class="clearfix">
			<div id="asideAjaxGroupsContent" class="asideAjaxContent"></div>
        </aside>
	{% endblock %}

	{% block javascript %}
		<script src="public/js/elementCreateValidate.js"></script>
        <script src="public/js/auditorias/auditoriasIndex.js"></script>
	{% endblock %}	
