{% extends "manager_basis.tmpl" %}
	{% block sectionMenu %}
                            <div class="mainnav">
		<h2 class="sectionMenuTitle">Страница управления аудиториями.</h2>
		<div class="mainnav">
                                            <p>
			<span><a href="/auditorias/index">Все аудитории</a></span>
			<span><a href="/auditorias/create">Добавить аудиторию</a></span>
                                            </p>
		</div>
                        </div>
	{% endblock %}
