{% extends "base.tmpl" %}
	{% block main %}
		<div class="createElementDiv">
			<form method="post" name="userLogForm" action="/user/login" class="createElementForm">
				<p>Для входа введите логин и пароль</p>
				<table class="createElementTable">
				<tr><td><input type="text" name="login" value="{{login}}"></input></td><td>Логин</td></tr>
				<tr><td><input type="password" name="password"></input></td><td>Пароль</td></tr>
				<tr><td><input type="reset"></td><td></input><input type="submit" name="userLogFormGo" value="зарегистрировать"></input></td></tr>
				</table>
			</form>
			<p>Или вы можете <a href="/user/register">зарегистрирроваться</a></p>
		</div>
	{% endblock %}	
