{% extends "access/manager_accessBasis.tmpl" %}
	{% block main %}
	<aside class="clearfix">
		<div id="asideAjaxGroupsContent" class="asideAjaxContent"></div>
	</aside>
	{% endblock %}
	{% block javascript %}
		<script src="public/js/accessIndex.js"></script>
	{% endblock %}	