{% extends "manager_basis.tmpl" %}
	{% block sectionMenu %}
	<div class="mainnav">
		<h2 class="sectionMenuTitle">Страница управления преподавателями.</h2>
		<div class="mainnav">
			<p>
				<span><a href="/teachers/index">Все преподаватели</a></span>
				<span><a href="/teachers/create">Добавить</a></span>
			</p>
		</div>
	</div>
	{% endblock %}