{% extends "teachers/manager_teachersBasis.tmpl" %}
	{% block main %}
	<aside class="groupaside clearfix">
		<div id="asideAjaxGroupsContent" class="asideAjaxContent"></div>
	</aside>
	<section class="groupsection clearfix">
		<div id="personalData" class="asideAjaxContent"></div>
	</section>
	{% endblock %}
	{% block javascript %}
		<script> var idTecherForPersonalPage = {{idTeacherData}}</script>
		<script src="public/js/teachers/teacherCreateValidat.js"></script>		
		<script src="public/js/teachers/teachersIndex.js"></script>
	{% endblock %}	