{% extends "cpecyalitys/manager_cpecyalitysBasis.tmpl" %}
{% block main %}
    <div class="createElementDiv">
        <form name="addCpecyalitysForm" class="createElementForm">
            <h3>Заполните форму для нового студента</h3>
            <table class="createElementTable">
	<p class="clearfix"></p>
	<tr><td><input type="reset"></input></td><td><input type="submit" name="addCpecialitysFormGo" value="Добавить новую специальность"></input></td></tr>		
	<tr><td>Название специальности</td><td><input type="text" name="title" value="{{valueData.title}}"></input></td></tr>		
	<tr><td>Базовая цена</td><td><input type="number" name="priseBasis" min="0" value="{{valueData.priseBasis}}"></input></td></tr>		
	<tr><td>Кол.учебных часов</td><td><input type="number" name="quantity" min="0" value="{{valueData.quantity}}"></input></td></tr>		
	<tr><td>Руководитель</td><td>
                    <select size="1"  name="bossId"><option value=""></option>
                        {% for teacher in arrTeacher %}
                            <option value="{{teacher.id}}">{{teacher.surname}}</option>
                        {% endfor %}
                    </select>
	</td></tr>		
	<tr><td>Описание</td><td><textarea name="description" value="{{valueData.description}}" cols="50" rows="8"></textarea></td></tr>	
            </table>
        </form>
    </div>    
{% endblock %}	
{% block javascript %}
    <script src="public/js/elementCreateValidate.js"></script>
    <script src="public/js/scpecialitys/scpecialitysCreate.js"></script>		
{% endblock %}	
